.sidebar-component {
	position: absolute; top: 0; left: 0;
	width: 50%;	height: 100%;
	transform: translateX(-100%);
	transition: all .25s ease-in;
	background-color: var(--flamingo-pink);
	z-index: 1;


	&-open {
		transform: translateX(0);

	}

	.heading {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		margin: 1rem 0 0 0;


		h1 {

			a {
				font-size: 1.5rem;

			}
		}

		span {
			font-size: 2rem;

			
		}

		.close-btn {
			position: absolute;
			top: -1rem;
			right: 0;
		}

		.close-btn {
			border: none;
			outline: none;
			background: none;
		}

	}

	.nav {
		width:100%;

		

			ul{
				margin:0 0; padding:0;
				list-style:none;
				width: 100%;

				li{
					color: #393737; font-size: 1rem; font-weight: 700;
					width: 100%;
					margin:1rem 0;
					position: relative;

					&:hover {
						a {
							transform: translateX(.5rem);
						}
					}

					
					&:before {
						content: " ";
						width: 0;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						background-color: pink;				
						transition: all .25s ease;


					}
					
					&:hover::before{
						width: 100%;

					}

					a {

						width: 100%;
						margin: 0 .2rem;
						transition: all .25s ease-in-out;
						position: relative;
						display: inline-block;





					
					}	
								
					
				}
			}
		}
}

.sidebar-btn {

	position: absolute;
	top: 1rem;
	left: 0;
	transition: all .25s ease-in;
	border: none;
	outline: none;
	background-color: var(--flamingo-pink);
	display: flex;
	justify-content: center;
	align-items: center;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;

	

	&[aria-expanded="true"] {
		z-index: 0;
		transform: translateX(-4rem);
	}

	&[aria-expanded="false"] {
		z-index: 0;
		transform: translateX(0);
		transition-delay: 0.5s;
	}


}