.button {
	background: var(--focus);
	border-radius: 3px;
	border: 2px solid var(--focus);
	color: hsl(0, 0%, 100%);
	display: inline-block;
	font-size: 1rem;
	line-height: 1rem;
	margin: 0;
	opacity: 1;
	padding: 0.5rem 1rem;
	position: relative;
	transition: all 0.15s;
	vertical-align: top;
	white-space: nowrap;

	&:focus {
		box-shadow: 0 0 0 4px var(--focus-shadow);
		outline: 0;
	}

	&:hover {
		opacity: 0.8;
		transition: all 0.15s;
	}
}
