.main{
	margin:auto;
	max-width:850px;

	h2{
		margin-top:50px;
	}

	a{
		color:var(--focus);
		text-decoration:none; font-weight:500;
		padding:2px 2px; margin:-2px -2px;

		&:hover{
			text-decoration:underline;
		}

		&:focus{
			box-shadow:0 0 0 4px var(--focus-shadow);
			outline:none;
			text-decoration:none;
		}
	}

	> ul{
		position:relative;
		list-style:none; list-style-position:inside;

		li{
			margin:2rem 0;
		}

		> li{

			&::before{
				content:'';
				position:absolute;
				display:block;
				height:16px;
				margin:4px 0 0 -1.25rem;
				left:-22;
				border-left:6px solid var(--focus);
			}

			ul > li::before{
				content:'';
				position:absolute;
				display:block;
				height:16px;
				margin:4px 0 0 -1.25rem;
				left:-22;
				border-left:2px solid var(--focus);
			}
		}
	}

	abbr{ color:var(--focus); }
}