.border{
	font-family:Consolas, 'Liberation Mono', Menlo, Courier, monospace;
	background-color:rgba(33, 33, 33, 0.05);
	border-radius:3px; border:1px solid rgba(128, 128, 128, 0.322);
	font-size:0.875em;
	padding:0.2em 0.4em;
}

.colored{
	color:var(--focus);
}