.container{
	--focus:#db0a5b;
	--focus-shadow:#db0a5a17;

	height:60px; width:200px;

	.sr-label{
		position:absolute;
		left:-10000px;
		top:auto;
		width:1px;
		height:1px;
		overflow:hidden;
	}

	.wrapper{
		height:0;
		margin-top:6px;
		z-index:200;

		button{
			width:100%; height:40px;
			padding:8px 0 8px 15px;
			font-size:16px; font-family:'Montserrat', sans-serif; font-weight:500;
			border-radius:5px; border:2px solid #919191; background-color:#fff; color:#4d4d4d;
			text-align:left;


			&:focus{
				outline:0;
				border:2px solid var(--focus);
				box-shadow:0 0 0 4px var(--focus-shadow);
			}

			&[aria-expanded='true']{
				border-color:#94949449;

				&:hover{
					// color:#fff;
					// background-color:#F75996;
					// box-shadow:0 0 0 2px #F75996, inset 0 0 0 1px #FFF;
				}
			}
		}

		.listbox{
			height:215px; width:100%;
			padding:0; margin:6px 0 0 0;
			background-color:#fff;
			visibility:hidden;
			opacity:0;
			transform:translateY(-8px);
			transition:0.25s; transition-property:opacity, transform;
			position:relative;
			overflow-y:auto;
			list-style:none;
			border-radius:5px; border:2px solid #949494;
			z-index:100;

			&::-webkit-scrollbar{
				display:none;
			}

			&:focus{
				outline:0;
				border:2px solid var(--focus);
				box-shadow:0 0 0 4px var(--focus-shadow);
			}

			&.hidden{
				visibility:visible;
				opacity:1;
				transform:translateY(0);
			}

			li{
				margin:3px; padding:6px 8px 6px 8px;
				display:block;
				font-family:'Montserrat', sans-serif; font-size:14px; font-weight:500; text-align:left;
				color:#4d4d4d;
				position:relative;
				border:none;

				background-color:#fff;
				border-radius:5px;

				&:hover{
					color:#fff;
					background-color:#F75996;
				}

				&[aria-selected='true']{
					color:#fff;
					background-color:#F75996;

					&:hover{
						color:#fff;
						background-color:#F75996;
						box-shadow:0 0 0 2px #F75996, inset 0 0 0 1px #FFF;
					}
				}
			}
		}
	}
}
