.container {
	height: 60px;
	width: 200px;
	background-color: lightblue;

	span {
	}

	.wrapper {
		height: 100%;

		button {
			text-align: left;
			padding: 8px;
			width: 100%;
		}

		.listbox {
			height: 200px;
			visibility: hidden;
			opacity: 0;
			transform: translateY(-4px);
			transition: 0.25s;
			transition-property: opacity, transform;
			overflow-y: auto;
			list-style: none;
			padding: 0;
			background-color: lightblue;

			&.hidden {
				visibility: visible;
				opacity: 1;
				transform: translateY(0);
			}

			li {
				padding: 5px 2px;

				&:hover {
					background-color: navy;
					color: white;
				}

				&:focus {
					background-color: navy;
				}

				&[aria-selected="true"] {
					background-color: yellow;
				}
			}
		}
	}
}
